@import url('https:fonts.googleappis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

html{
  font-family: 'Roboto Condensed', sans-serif;
}

body{
  margin: 0;
  background-color: #1a1a1a;
}